# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
.env

# Distribution / Packaging
build/
dist/
*.egg-info/

# PyCharm / IDEs
.idea/
.vscode/
*.swp

# Mac
.DS_Store

# Testing and Coverage
.pytest_cache/
.coverage
coverage.xml
htmlcov/
.mypy_cache/
.ruff_cache/
bandit-report.json

# Project specific
*.log
processing_log.txt
receipts/sorted/
receipts/source/
macos/*.app

