# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
.env

# Distribution / Packaging
build/
dist/
*.egg-info/

# PyCharm / IDEs
.idea/
.vscode/
*.swp

# Mac
.DS_Store

# Project specific
*.log
processing_log.txt
receipts/sorted/
receipts/source/
